body {
  margin-right: 25%;
  margin-left: 25%;
}
#navbar {
  display: flex;
  flex-direction: row;
  background-color: green;
  gap: 350px;
}
#valona {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.icons {
  gap: 10px;
}
.fallsummer{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.inspiration{
  display: flex;
  flex-direction: column;
}